<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客系统登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<br>
<br>
<br>
 <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             注册
           </div>
         </h2>
         <form class="ui large form" method="post" action="#" th:action="@{/addCheck}">
           <div class="ui  segment">
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="username" placeholder="用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="nickname" placeholder="昵称">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="password1" placeholder="密码">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="password2" placeholder="请再次输入密码">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="text" name="code" placeholder="请输入验证码" />
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                   <img src="/getCaptchaImg" id="img">
                   <input type="button" value="点此刷新" onclick="imgCode()">
                 </div>
             </div>
             <button class="ui fluid large teal submit button">登   录</button>
           </div>
           <div class="ui error mini message"></div>
           <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>

         </form>

       </div>
     </div>
   </div>
 </div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
  function imgCode() {
    //若请求与前一次相等 则不提交请求 因此要写一个随机值
    $("#img").attr("src","/getCaptchaImg?id="+Math.random());
  }
  $('.ui.form').form({
    on: 'blur',
    fields : {
      username : {
        identifier: 'username',
        rules: [{type: 'empty', prompt: '请输入用户名'},{type: 'maxLength[20]', prompt: '用户名长度小于20'},{type: 'minLength[6]', prompt: '用户名长度大于6'}]
      },
      nickname : {
        identifier: 'nickname',
        rules: [{type: 'empty', prompt: '请输入昵称'}]
      },
      password1 : {
        identifier: 'password1',
        rules: [{type: 'empty', prompt: '请输入密码'},{type: 'maxLength[20]', prompt: '密码长度小于20'},{type: 'minLength[6]', prompt: '密码长度大于6'}]
      },
      password2 : {
        identifier : 'password2',
        rules : [{type: 'match[password1]', prompt : '输入的两次密码不一致'}]
      },
      code : {
        identifier : 'code',
        rules : [{type: 'empty', prompt: '请输入验证码'}]
      }
    }
  });
</script>

</body>
</html>